@model IEnumerable<TandartsSuperCool.Models.Afspraak>

@{
    ViewData["Title"] = "Index";
}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'today,timeGridWeek,timeGridDay'
            },
            eventMinHeight: 10,
            allDaySlot: false,
            slotDuration: '00:10:00',
            nowIndicator: true,
            dateClick: function (info) {
                console.log(info.dateStr);
            }
        });
        calendar.render();
    });

</script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notitie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start_tijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stop_tijd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Notitie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_tijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stop_tijd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div id='calendar'></div>